/* Width less than 390px */
@media (max-width: 390px) {
    .MAXWidth{
        max-width: 390px;
    }

/* TopNavigation */
    .TopNavigation{
        height: 64px;
        margin: auto 16px;
    }

    .TopLogoIMG{
        height: 80%;
    }

    .TopNavText{
        display: none;
    }

    .TopIconDIV{
        width: 36%;
    }

    .Top3DotButton{
        display: flex;
    }

    .TopNavigationSpace{
        padding-top: 64px;
    }

 /* Banner */   
    .BannerIMG{
        width: 390px;
        height: auto;
    }

    .BannerArrowLeft{
        display: none;
    }

    .BannerArrowRight{
        display: none;
    }

    .FooterInfo{
        margin: 0 16px 16px 16px;
        border-bottom: 1px solid white;
    }

/* Product Section*/
    .ProductSectionTitle{
        font-size: 24px;
    }

    .ProductSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 32px 0px;
    }
    
    .ProductSectionList{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        margin: 16px 0px;
    }
    
    .ProductSectionArrowL{
        display: none;
    }
    
    .ProductSectionArrowR{
        display: none;
    }
    
    .ProductSectionPreview{
        width: 80px;
    }
    
    .ProductSectionCover{
        width: 80px;
        height: 107px;
    }
    
    .ProductSectionText{
        width: 80px;
        margin: 16px 0px 0px;
        overflow: hidden;
    }
    
    .ProductSectionText a{
        color: black;
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
    }
    
    /*Search Button Menu*/
    #SearchMenu{
        width: 373px;
        margin: 64px 0 0 0;
    }

    .SearchTextInput{
        font-size: 14px;
        width: 320px;
        height: 24px;
        margin: 24px 16px ;
    }

    .SearchMenuButton{
        width: 16px;
        height: 16px;
        margin-left: 320px;
    }

    .RecentSearchBox{
        margin: 0px 0px 32px 16px;
    }

    .RecentSearchTitle{
        font-size: 24px;
        margin-bottom: 16px;
    }

    .RecentSearchPreview{
        width: 96px;
        height: 240px;
        margin: 0 16px 0 0;
    }

    .RecentSearchCover{
        height: 128px;
    }

    .RecentSearchText{
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    /* map */
    .MapSection{
        flex-direction: column;
        margin: 16px 0px;
    }
    
    .Map{
        width: 320px;
        height: 320px;
    }
    
    .MapText{
        width: 320px;
        height: 320px;
        font-size: 16px;
        text-align: center;
    }

/* Footer */
    .FooterUpperPart{
        flex-direction: column;
        margin: 32px 0 0 0;
    }

    .FooterInfoSection{
        width: 100%;
        margin-bottom: 32px;
    }

    .FooterSFPSection{
        width: 100%;
    }

    .FooterInfoSection{
        display: block;
    }

    .FooterInfoTitle a{
        font-size: 18px;
    }

    #FooterToggleButton1{
        display: flex;
    }

    #FooterToggleButton2{
        display: flex;
    }

    #FooterToggleButton3{
        display: flex;
    }

    #FooterInfoContent1{
        display: none;
    }

    #FooterInfoContent2{
        display: none;
    }

    #FooterInfoContent3{
        display: none;
    }

    #FooterInfoContent1 a{
        font-size: 16px;
    }

    #FooterInfoContent2 a{
        font-size: 16px;
    }

    #FooterInfoContent3 a{
        font-size: 16px;
    }

    .FooterSFPTitle{
        font-size: 24px;
    }

    .FooterLowerPart{
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .FooterLowSection{
        font-size: 16px;
    }

    .FooterLowSection a{
        font-size: 16px;
    }

    /* Product Page*/
    .ProductInfo {
        flex-direction: column;
        margin: 32px 16px;
    }

    .ProductInfoTextBox {
        align-items: center;
    }

    .ProductInfoText {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .ProductInfoText h1{
        font-size: 24px;
        margin: 8px 0px;
    }

    .ProductInfoText h2{
        font-size: 24px;
        margin: 16px 0;
    }
    
    .ProductQuantityBox {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 16px;
    }

    .StockCountBox {
        align-items: center;
    }

    .DeliveryTextBox {
        text-align: center;
        font-size: 13px
    }

    .ProductODTitleBox {
        margin: 16px 16px;
        display: flex;
        justify-content: center;
    }

    .ProductODTitle {
        font-size: 16px;
    }

    .ProductOverview {
        font-size: 14px;
        margin: 0 16px 32px 16px;
    }

    #AddToCart {
        width: 373px;
        height: 240px;
    }

    .AddToCartCover {
        width: auto;
        height: 176px;
    }

    .SuccessIcon {
        width: 32px;
        height: 32px;
        margin-bottom: 4px;
    }

    .AddToCartText {
        width: 160px;
        height: 40px;
        font-size: 16px;
    }

    .AddToCartButton {
        height: 32px;
        width: 128px;
        font-size: 12px;
        margin: 8px 0px;

    }
}