body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.MAXWidth{
    max-width: 1280px;
    margin: auto;
    display: block;
}

/* Top Navigation CSS */
.TopNavigation{
    margin: auto 32px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: radial-gradient(80% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    font-size: 24px;
}

/* Keep Logo stay in #001135 background in TopNavigation*/
@media screen and (max-width: 940px){
    .TopNavigation{
        background: radial-gradient(70% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 650px){
    .TopNavigation{
        background: radial-gradient(60% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 560px){
    .TopNavigation{
        background: radial-gradient(50% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 380px){
    .TopNavigation{
        background: radial-gradient(40% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 310px){
    .TopNavigation{
        background: radial-gradient(30% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 260px){
    .TopNavigation{
        background: radial-gradient(20% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 230px){
    .TopNavigation{
        background: radial-gradient(10% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 210px){
    .TopNavigation{
        background: radial-gradient(0% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}

.TopNavigationBG{
    background: linear-gradient(to right, #001135 50%, #60706D 50%);
    padding: auto;
    margin: auto;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
    position: fixed;
}

.TopLogoDIV{
    height: 80px;
    display: flex;
}

.TopLogoIMG{
    height: 80px;
}

.TopNavText{
    display: flex;
    height: 80px;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.TopNavText a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.TopNavText a:hover{
    color:#60706D;
}

.TopIconDIV{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopSearchButton{
    width: 32px;
    height: 32px;
}

.TopShoppingCartButton{
    width: 32px;
    height: 32px;
}

/*Body Part Background color*/
.BackgroundColor{
    background-color: #D2ECE4;
    width: 100%;
}

/* Banner CSS*/
.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.BannerIMG{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.BannerArrowDIV{
    width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.BannerArrowLeft{
    width: 32px;
    height: 32px;
}

.BannerArrowRight{
    width: 32px;
    height: 32px;
}

/* Product Section*/

.ProductSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 64px 0px;
}

.ProductSectionList{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 32px 0px;
}

.ProductSectionArrowL{
    margin: 128px 0px;
    height: 32px;
    width: 32px;
}

.ProductSectionArrowR{
    margin: 128px 0px;
    height: 32px;
    width: 32px;
}

.ProductSectionPreview{
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProductSectionCover{
    height: 256px;
    width: auto;
    max-width: 192px;
}

.ProductSectionText{
    height: 96px;
    width: 192px;
    text-align: center;
    margin: 32px 0px 0px;
}

.ProductSectionText a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/*Title of Different Section*/
.ProductSectionTitle{
    color: black;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

/* Map Section */

.LocationSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 64px 0px 0px;
    padding: 0px 0px 64px;
}

.MapSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 64px 0px;
}

.Map{
    width: 512px;
    height: 512px;
    border: 2px solid black;
}

.MapText{
    width: 512px;
    height: 512px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

/* Footer Part*/
.FooterBG{
    background: linear-gradient(to right, #001135 50%, #60706D 50%);
    padding: auto;
    margin: auto;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

.Footer{
    margin: auto 64px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(80% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
}

/*-Upper Part of Footer-*/
.FooterUpperPart{

}

/*-Upper Left Part-*/
.FooterInfoSection{

}

.FooterInfo{

}

.FooterInfoTitle{

}

.FooterInfoContent{

}

/*-Upper Right Part-*/
.FooterSFPSection{

}

.FooterSFPTitle{

}

/*-Subscribe to our site Part-*/
.FooterSubSection{

}

.FooterSubTextBox{

}

.FooterSubButton{

}

/*-Follow us Part-*/
.FooterFollowSection{

}

.FooterFollowIcon{

}

.FooterFollowCubeIcon{

}

.FooterFollowRectIcon{

}

/*-Payment method Part-*/
.FooterPaySection{

}

.FooterPayIcon{

}

/*-Lower Part of Footer-*/
.FooterLowerPart{

}

.FooterLowLeft{

}

.FooterLowRight{

}