body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.TopNavigation{
    background: radial-gradient(81.17% 10991.07% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    padding: 40px;
    font-size: 12px;
    text-align: center;
}