body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #D2ECE4;
}

.MAXWidth{
    max-width: 1280px;
    margin: auto;
    display: block;
}

/* Top Navigation CSS */
.TopNavigation{
    margin: auto 32px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: radial-gradient(80% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    font-size: 24px;
}

/* Keep Logo stay in #001135 background in TopNavigation*/
@media screen and (max-width: 940px){
    .TopNavigation{
        background: radial-gradient(70% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 650px){
    .TopNavigation{
        background: radial-gradient(60% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 560px){
    .TopNavigation{
        background: radial-gradient(50% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 380px){
    .TopNavigation{
        background: radial-gradient(40% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 310px){
    .TopNavigation{
        background: radial-gradient(30% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 260px){
    .TopNavigation{
        background: radial-gradient(20% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 230px){
    .TopNavigation{
        background: radial-gradient(10% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}
@media screen and (max-width: 210px){
    .TopNavigation{
        background: radial-gradient(0% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    }
}

.TopNavigationBG{
    background: linear-gradient(to right, #001135 50%, #60706D 50%);
    padding: auto;
    margin: auto;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 999;
}

.TopLogoDIV{
    height: 80px;
    display: flex;
}

.TopLogoIMG{
    height: 80px;
}

.TopNavText{
    display: flex;
    height: 80px;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.TopNavText a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.TopNavText a:hover{
    color:#60706D;
}

.TopIconDIV{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopSearchButton{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.TopSearchButton:hover{
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.TopShoppingCartButton{
    width: 32px;
    height: 32px;
}

/*Search Button Menu*/
#SearchMenu{
    width: 1216px;
    margin: 80px 32px 0 32px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: radial-gradient(80% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    position: fixed;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.SearchTextBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
    margin: 5px 0px;
}

.SearchTextInput{
    color:white;
    font-size: 32px;
    border: 2px solid white;
    border-radius: 50px;
    background: none;
    width: 1152px;
    height: 48px;
    margin: 64px;
}

.SearchTextInput::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.SearchMenuButton{
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    margin-left: 1100px;
}

.RecentSearchBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0px 0px 64px 64px;
}

.RecentSearchTitle{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    margin-bottom: 32px;
}

.RecentSearchPreviewBox{
    display: flex;
    justify-content: flex-start;

}

.RecentSearchPreview{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 400px;
    margin: 0px 32px 0px 0px;
}

.RecentSearchCover{
    height: 256px;
    width: auto;
}

.RecentSearchText{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* Space */
.TopNavigationSpace{
    padding-top: 80px ;
}

/*Body Part Background color*/
.BackgroundColor{
    background-color: #D2ECE4;
    width: 100%;
}

/* Banner CSS */
.Banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BannerIMG{
    width: 1200px;
    height: 400px;
}

.BannerIMG:hover{
    filter: brightness(.5);
}

.BannerIMG:active{
    filter: brightness(1);
}

.BannerArrowLeft{
    width: 32px;
    height: 32px;
}

.BannerArrowRight{
    width: 32px;
    height: 32px;
}

/* Product Section*/

.ProductSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 64px 0px;
}

.ProductSectionList{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 32px 0px;
}

.ProductSectionArrowL{
    margin: 128px 0px;
    height: 32px;
    width: 32px;
}

.ProductSectionArrowR{
    margin: 128px 0px;
    height: 32px;
    width: 32px;
}

.ProductSectionPreview{
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProductSectionCover{
    height: 256px;
    width: auto;
    max-width: 192px;
}

.ProductSectionCover:hover{
    filter: brightness(0.5);
}

.ProductSectionCover:active{
    filter: brightness(1);
}

.ProductSectionText{
    height: 96px;
    width: 192px;
    text-align: center;
    margin: 32px 0px 0px;
}

.ProductSectionText a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/*Title of Different Section*/
.ProductSectionTitle{
    color: black;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

/* Map Section */

.LocationSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 64px 0px 0px;
    padding: 0px 0px 64px;
}

.MapSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 64px 0px;
}

.Map{
    width: 512px;
    height: 512px;
    border: 2px solid black;
    cursor: pointer;
}

.Map:hover{
    filter: brightness(.5);
}

.Map:active{
    filter: brightness(1);
}

.MapText{
    width: 512px;
    height: 512px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.MapText a{
    color: black;
}

/* Footer Part*/
.FooterBG{
    background: linear-gradient(to right, #001135 50%, #60706D 50%);
    padding: auto;
    margin: auto;
    width: 100%;
    max-height: 660px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

.Footer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(80% 10000% at 100% 50%, #60706D 0%, #60706D 15.3%, #001135 100%);
}

/*-Upper Part of Footer-*/
.FooterUpperPart{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 64px 0px 0px 0px;
}

/*-Upper Left Part-*/
.FooterInfoSection{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}

.FooterInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 32px 0px 0px;
}

.FooterInfoTitle{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 16px;
}

.FooterInfoTitle a{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.FooterInfoContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.FooterInfoContent a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 16px 0px;
}

/*-Upper Right Part-*/
.FooterSFPSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.FooterSFPTitle{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 16px 0px;
}

.FooterSFPPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0px 0px 32px 0px;
}

/*-Subscribe to our site Part-*/
.FooterSubTextBox{
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    margin: 5px 0px;
}

.FooterSubTextInput{
    color:white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    padding: 3px 150px 3px 5px;
}

.FooterSubTextInput::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.FooterSubButtonBox{
    display: flex;
    justify-content: center;
    margin: 4px 0px 0px 0px;
}

.FooterSubButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001135;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 128px;
    height: 32px;
    color: white;
    font-size: 16px;
}

.FooterSubButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001135;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 128px;
    height: 32px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.FooterSubButton:hover{
    color: #60706D;
}

.FooterSubButton:active{
    color: white;
}

/*-Follow us Part-*/
.FooterFollowIcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 16px 0px;
}

.FooterFollowCubeIcon{
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.FooterFollowRectIcon{
    width: 152px;
    height: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/*-Payment method Part-*/

.FooterPayIcon{
    width: 124px;
    height: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 16px 0px;
}

/*-Lower Part of Footer-*/
.FooterLowerPart{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid white;
}

.FooterLowSection{
    font-size: 24px;
    color: white;
    margin: 8px 0px;
}

.FooterLowSection a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.FooterLowSection a:active{
    color: #60706D;
}



/* ProductPage */
/* Part 1 */
.ProductLeader{
    color: black;
    width: auto;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0px;
}

.ProductLeader a{
    color: #001135;
    text-decoration: none;
}

.ProductLeader a:hover{
    color: #60706D;
    text-decoration: underline;
}

/* Part 2 */
.ProductInfo{
    display: flex;
    justify-content: space-between;
    margin: 32px 64px;
}

.ProductInfo a{
    text-decoration: none;
}

.ProductInfoCover{
    width: 640px;
    height: 480px;
}

.ProductInfoTextBox{
    display: flex;
    flex-direction: column;
}

.ProductInfoText{
    color: black;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.ProductInfoText h1{
    color: black;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 16px 0px;
}

.ProductInfoText h2{
    color: black;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 32px 0;
}

.ProductQuantityBox{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.ProductQuantityButtonBG{
    background: #60706D;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 48px;
    height: 32px;
    margin: 0px 32px ;
    display: flex;
    justify-content: space-around;
}

.ProducQuantitiyText{
    width: 32px;
    height: 32px;
    text-align: center;
}

.ProductQuantityUpDown{
    display: flex;
    flex-direction: column;
}

.ProductQuantitiyArrow{
    text-align: center;
    font-size: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.ProductQuantitiyArrow:hover{
    color:#001135;
}

.ProductQuantitiyArrow:active{
    color: white;
}

.ProductButton{
    background: #60706D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 320px;
    height: 64px;
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ProductButton:hover{
    background: #414b49;
}

.ProductButton:active{
    background: #60706D;
}

.StockCountBox{
    display: flex;
    justify-content: flex-start;
    color: red;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin: 16px 0px;
}

.StockCountBox p{
    margin: 0px 8px;
}

.DeliveryTextBox{
    width: 320px;
    color: black;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin: 16px 0;
}

.DeliveryCheckBox{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.DeliveryCheckInput{
    width: 256px;
    height: 32px;
    color:black;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    padding: 3px 0 3px 5px;
}

.DeliveryCheckInput::placeholder{
    color:#60706D;
}

.DeliveryCheckButton{
    width: 64px;
    height: 40px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #60706d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background:#60706D;
    cursor: pointer;
}

.DeliveryCheckButton:hover{
    background: #414b49;
    border: 1px solid #414b49;
}

.DeliveryCheckButton:active{
    background:#60706D; 
    border: 1px solid #60706d;
}

.ProductODBox{
    display: flex;
    flex-direction: column;
}

.ProductODTitleBox{
    display: flex;
    margin: 16px 0;
}

.ProductODTitle{
    font-weight: 700;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 4px solid #60706D;
    padding: 16px 0px;
    margin-right: 32px;
    cursor: pointer;
}

.ProductODTitle:hover{
    color:#60706D;
}

.ProductODTitle:active{
    color: black;
}

.ProductOverview{
    font-size: 24px;
    margin-bottom: 64px;
}

#DarkEffect{
    position: fixed;
    z-index: 1000;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
  
#AddToCart{
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 480px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #60706D;
    display: none;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.AddToCartCover{
    width: auto;
    height: 342px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.AddToCartTextBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.AddToCartTextBox a{
    text-decoration: none;
}

.SuccessIcon{
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
}

.AddToCartText{
    width: 256px;
    height: 80px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.AddToCartButton{
    height: 64px;
    width: 256px;
    background-color: #001135;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
    cursor: pointer;
}

.AddToCartButton:hover{
    color: #60706D;
}

.AddToCartButton:active{
    color: white;
}



/*Shopping Cart Page*/
/*Left Part*/
.MyCartPart{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 32px;
}

.MyCartPart h1{
    font-size: 32px;
    margin: 32px 0;
}

.MyCartProductBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 32px;
    border-bottom: 1px solid black;
    margin-bottom: 32px;
}

.MyCartProductBox2{
    display: flex;
}

.MyCartProductCoverBox{
    height: 211px;
    width: 160px;
    margin-right: 16px;
}

.MyCartProductCover{
    height: 211px;
    width: auto;
    cursor: pointer;
}

.MyCartProductCover:hover{
    filter: brightness(.5);
}

.MyCartProductCover:active{
    filter: brightness(1); 
}

.MyCartProductIntroBox{
    height: 211px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MyCartProductIntro{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.MyCartProductIntro h1{
    font-size: 24px;
    font-weight: bold;
    margin: 4px 0px;
}

.MyCartStockCount{
    display: flex;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MyCartStockCount p{
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 4px;
}

.MyCartPrice{
    color: black;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: bold;
    margin: 4px 0px;
    height: 32px;
    width: 128px;
    text-align: center;
}

/*Right Part*/
.OrderSummaryPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 350px;
    margin: 64px 32px;
    background-color: #60706D;
    border: 1px solid black;
    border-radius: 15px;
    padding: 16px 16px 0px 16px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.OrderSummaryPart a{
    text-decoration: none;
}

.OrderSummaryPart h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

.OrderSummaryUpper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0px;
    border-bottom: 1px solid white;
    padding-bottom: 16px;
}

.OrderSummaryText{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.OrderSummaryText p{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0px 0px 0px;
}

.OrderSummaryText sup{
    color: white;
    font-size: 16px;
    font-weight: bold;
}



/* Check Out Page*/
/* Left Part*/
.CheckOutPart{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 32px;
}

.CheckOutPart h1{
    font-size: 32px;
    margin: 32px 0;
}

.StepBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #C5DDD6;
    border: 1px solid black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 16px;
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 64px;
}

.AddressLongBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.AddressBox{
    width: 45%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.AddressInput{
    width: 100%;
    height: 32px;
    color:black;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
    padding: 0px 10px;
}

.Shippingradiobox{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.Shippingradiobox p{
    font-size: 24;
    color: black;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 0px 8px;
}

.Shippingradiobox p2{
    font-size: 24;
    color: red;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Shippingradiobox p3{
    font-size: 24;
    color: black;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 25%;
}

.PaymentBox{
    align-self: center;
    margin: 16px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PaymentBox p{
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.PaymentPayIcon{
    height: 32px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0px 8px;
    cursor: pointer;
}

.PaymentPayIcon:hover{
    filter: brightness(.75);
}

.PaymentPayIcon:active{
    filter: brightness(1);
}